BETTER_AUTH_SECRET=  # 自行生成你的 Secret
BETTER_AUTH_URL=http://localhost:3000  # 部屬時請改為自己的網域

DB_FILE_NAME=sqlite.db

IPINFO_TOKEN=                          # 用於紀錄請求來源，可於 https://ipinfo.io 申請帳號

NEXT_PUBLIC_BASE_URL=                  # 部屬時請改為網址的根目錄
DOMAIN_NAME=                           # 部屬時請改為自己的網域

# 欲使用 Docker compose 建置可以使用該 Image
DOCKER_IMAGE_NAME=huangmayor0905/tantuyu-url:latest
