NEXT_PUBLIC_BASE_URL=http://localhost:3000
DOMAIN_NAME=localhost:3000
BETTER_AUTH_SECRET=your_random_secret_here
BETTER_AUTH_URL=http://localhost:3000
IPINFO_TOKEN=your_ipinfo_token

# Database
DATABASE_URL=postgres://postgres:password@localhost:5432/tantuyu
